<div class="rules">
  <h1>The Rules</h1>
  <ol>
    <p>
      <%= for rule <- @rules do %>
        <li>
          <a href={~p"/rules/#{rule.id}"}>
            {rule.text}
          </a>
        </li>
      <% end %>
    </p>
  </ol>
</div>
